# /etc/systemd/system/agent.service
[Unit]
Description=Agent Service Montoring
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/agent.js #or whatever home directory is you system
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
