body {
    background-color: white;
    color: lightslategrey;
    font-family: "Rubik", sans-serif;
}

.title {
    font-size: 3.5vw;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0px;
    text-wrap: nowrap;
}

.subtitle {
    font-size: 2vw;
    margin-left: 12px;
    margin-bottom: 0px;
}

.time {
    font-size: 3.5vw;
    margin-top: 0;
}

.right-align {
    text-align: right;
}

.box-header {
    font-size: 2vw;
    margin-top: 0px;
    margin-bottom: 0px;
}

.expand-icon {
    width: 100%;
    border-radius: 5px;
}

.expand-icon-button {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0.5rem;
    left: calc(100% - 3rem);
    background: none;
    border: none;
}

.ip-button {
    background: none;
    border: none;
    color: lightslategrey;
}

.settings-box-header {
    font-size: 3vw;
    margin-top: 0px;
    margin-bottom: 0px;
}

.setting-container {
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.settings-label {
    float:left;
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 5px;
}
.settings-input {
    float: right;
}
.slider-label {
    margin-bottom: 5px;
    width: 100%;
}
.options-slider {
    width: 100%;
}
.history-buttons {
    margin-bottom: 5px;
    width: 100%;
}
.history-buttons>* {
    width: calc(100% / 3 - 5px);
}

.expand-icon-button:hover>*:first-child {
    background: rgba(67, 67, 67, 0.15);
}

.bg-img {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.chart-holder {
    margin-right: 20px;
    position: relative; 
    height:85%; 
    width:95%;
}

/* container */
.panel-block-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.panel-container {
    height: 300px;
    margin-bottom: 30px;
    transition: width 0.5s ease, height 0.5s ease;
}

.subpanel-container {
    height: 100%;
    margin-bottom: 30px;
}

.main-sidepanel-container>*:nth-child(1) {
    height: calc(100% / 6 - 30px);
    margin-bottom: 10px;
}

.main-sidepanel-container>*:nth-child(2) {
    height: calc(100% / 3 - 30px);
    margin-bottom: 10px;
}

.main-sidepanel-container>*:nth-child(3) {
    height: calc(100% / 2 - 30px);
    margin-bottom: 10px;
}

.panel {
    border-radius: 25px;
    /* width: 50%; */
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .panel {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
  }
}

@supports (-webkit-box-shadow: none) or (box-shadow: none) {
  .panel {
    -webkit-box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.75), 0 0 30px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.75), 0 0 30px rgba(0, 0, 0, 0.1);
  }
}

.fade-panel-out {
    animation-name: fade-panel-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.fade-panel-in {
    animation-name: fade-panel-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}


@keyframes fade-panel-anim {
  from {
    background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.75), 0 0 30px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.75), 0 0 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
  }

  to {
    background: rgba(255, 255, 255, 0);
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: none;
    backdrop-filter: blur(0px);
  }
}

.hidden-sidebar {
    width:100%;
    height:100%;
}

.hidden-sidebar>*:nth-child(2) {
    display: none;
}

/* container */
.right-sidebar {
    display: flex;
    flex-wrap: wrap;
    height: 95%;
}

/* columns */
.right-sidebar>* {
    width: 100%;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .right-sidebar>*:nth-child(1) {
        width: calc(100% / 3 * 2);
    }

    .right-sidebar>*:nth-child(2) {
        width: calc(100% / 4);
    }
}
